  <!-- Main content -->
  <div class="main-content">

    <!-- Top navbar -->
    {% include 'includes/nav-top-right.html' %}

    <!-- Header -->
    {% include 'includes/thongke.html' %}

    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card bg-gradient-default shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-light ls-1 mb-1">Overview</h6>
                  <h2 class="text-white mb-0">Sales value</h2>
                </div>
                
                <div class="col" style="display: none;">
                  <ul class="nav nav-pills justify-content-end">              
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales" data-update='{"data":{"datasets":[{"data":[{{sale_may}}, {{sale_jun}}, {{sale_jul}}, {{sale_aug}}, {{sale_sep}}, {{sale_oct}}, {{sale_nov}}, {{sale_dec}}]}]}}' data-prefix="$">
                      <a href="#" id="month" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Month</span>
                        <span class="d-md-none">M</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <script>
                  window.onload = function() {
                    setTimeout(function() {
                      document.getElementById('month').click();
                      document.getElementById('update').click();
                    }, 1);
                  };
                </script>
              </div>
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <!-- Chart wrapper -->
                <canvas id="chart-sales" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header bg-transparent">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                  <h2 class="mb-0">Total ticket</h2>
                </div>
                <div class="col" style="display: none;">
                  <ul class="nav nav-pills justify-content-end">              
                    <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chartticket" data-update='{"data":{"datasets":[{"data":[{{ jul[0] }}, {{ aug[0] }}, {{ sep[0] }}, {{ oct[0] }}, {{ nov[0] }}, {{ dec[0] }}]}]}}'>
                      <a href="#" id="update" class="nav-link py-2 px-3 active" data-toggle="tab">
                        <span class="d-none d-md-block">Update</span>
                        <span class="d-md-none">U</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>    
            </div>
            <div class="card-body">
              <!-- Chart -->
              <div class="chart">
                <canvas id="chartticket" class="chart-canvas"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-xl-8 mb-5 mb-xl-0">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">New Member </h3>
                </div>
                <div class="col text-right">
                  <a href="/employees" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">User name</th>
                    <th scope="col">Full name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                  </tr>
                </thead>
                <tbody>
                  {% for members in member %}
                  <tr>
                    <th scope="row">
                      {{ members[1] }}
                    </th>
                    <td>
                      {{ members[2] }}
                    </td>
                    <td>
                      {{ members[7] }}
                    </td>
                    <td>
                      <!-- <i class="fas fa-arrow-up text-success mr-3"></i> 46,53% -->
                      {{ members[6] }}
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <div class="card shadow">
            <div class="card-header border-0">
              <div class="row align-items-center">
                <div class="col">
                  <h3 class="mb-0">Ticket purchase form</h3>
                </div>
                <div class="col text-right">
                  <a href="#!" class="btn btn-sm btn-primary">See all</a>
                </div>
              </div>
            </div>
            <div class="table-responsive">
              <!-- Projects table -->
              <table class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Formality</th>
                    <th scope="col">Ticket</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">
                      By member
                    </th>
                    <td>
                      {{ by_member }}
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{ratio}}%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{ratio}}" aria-valuemin="0" aria-valuemax="100" style="--ratio: {{ratio}}; width: calc(var(--ratio)*1%);"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                      Not as a member
                    </th>
                    <td>
                      {{ no_by_member }}
                    </td>
                    <td>
                      <div class="d-flex align-items-center">
                        <span class="mr-2">{{unratio}}%</span>
                        <div>
                          <div class="progress">
                            <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="{{unratio}}" aria-valuemin="0" aria-valuemax="100" style="--ratio: {{unratio}}; width: calc(var(--ratio)*1%);"></div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% include 'includes/footer.html' %}

    </div>
  </div>

