.fas {
  font-size: 20px;
  padding-right: 10px;
}
body {
  font-size: 14px;
}
.table .thead-dark th {
  font-size: 16px;
}
.table-flush tbody tr:last-child td {
  font-size: 14px;
}
.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.modal-body {
  position: relative;
  padding: 15px;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}