<div class="main-content">
  <!-- Top navbar -->
  {% include 'includes/nav-top-right.html' %}

  <!-- Header -->
  {% include 'includes/top-stats.html' %}
  
  <!-- Page content -->
  <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">ADD Rooms</h3>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <form role="form" method="post" action="/rooms/add">
                  {{ form.hidden_tag() }}
                  <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ form.id(placeholder="ID",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.room_name(placeholder="Room name",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.roomformat_id(placeholder="Room format",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.status(placeholder="Status",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.max_row_seat(placeholder="Max row seat",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.max_seat_row(placeholder="Max seat row",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.note(placeholder="Note",class="form-control") }}
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Add</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    {% include 'includes/footer.html' %}
    
  </div>
</div>
