<div class="main-content">
  <!-- Top navbar -->
  {% include 'includes/nav-top-right.html' %}

  <!-- Header -->
  {% include 'includes/top-stats.html' %}
  
  <!-- Page content -->
  <div class="container-fluid mt--7">
      <div class="row mt-5">
        <div class="col">
          <div class="card bg-default shadow">
            <div class="card-header bg-transparent border-0">
              <h3 class="text-white mb-0">ADD Movies</h3>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
                <form role="form" method="post" action="/movies/add" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.name(placeholder="Name",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <select class="form-control" name="movieformat_id">
                        {% for movieformats in movieformat %}
                          <option value="{{movieformats[0]}}">{{movieformats[1]}}</option>
                        {% endfor %} 
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <select class="form-control" name="movietype_id">
                        {% for movietypes in movietype %}
                          <option value="{{movietypes[0]}}">{{movietypes[1]}}</option>
                        {% endfor %} 
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.duration(placeholder="Duration | Format: HH:MM:SS",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <select class="form-control" name="country_code">
                        {% for countries in country %}
                          <option value="{{countries[0]}}">{{countries[1]}}</option>
                        {% endfor %} 
                      </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form1.startDate(class='datepicker form-control', value=today) }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form1.endDate(class='datepicker form-control', value=today) }}
                    </div>
                  </div>
                  <div class="form-group">
                    <label>Select image</label>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" name="image" id="image">
                      <label class="custom-file-label" for="image">Select image...</label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      {{ form.note(placeholder="Note",class="form-control") }}
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                      </div>
                      {{ form.description() }}
                      {{ ckeditor.load() }}
                      {{ ckeditor.config(name='description', width=1500) }}
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary my-4">Add</button>
                  </div>
                </form>
              </div>
          </div>
        </div>
      </div>
    {% include 'includes/footer.html' %}
    
  </div>
</div>
